

body {font-family:'Open Sans';

}

.container{
}

.scatterplot{
  width:100%;
  float:left;
}

.filter{
  width:100%;
  float:left;
}

.axis path, .axis line {
  fill: none;
  stroke-width:2px;
  stroke: #555;
  shape-rendering: crispEdges;
}

.tooltip {
  position: absolute;
  width: auto;
  padding:10px;
  height: auto;
  text-align: left;
  font-weight: bold;
  background-color: #D9D6BF;
  border:1px solid #CCC;
  pointer-events: none;
}


.title{font-size: 14pt;}

.label{font-weight: bold;
color:blue;
}


.dot{
  fill-opacity: 0.7;
  stroke-width: 2;
}

.choose{float:left;
width:40%;
padding: 5%;
}

.checkbox-list{
  float:left;
  width:50%;
}

.text-label{
  border:none;
  font-size:12pt;
  color: orange;
}

.ui-slider-horizontal {
  height: .4em;
}

.legend-circle{height:5px;
width:5px;
background-color: black;
border-radius: 5px;
}

.circle{font-size:20pt;}